<!DOCTYPE html>
<html>
  <head>
    {% include '/includes/head.html.twig' %}
  </head>
  <body>
    {% include '/includes/navbar.html.twig' %}
    <div class="container">

      <h1>Find and Count!</h1>
      <p class="well text-success">{{ message.text }}</p>
    </div>
  </body>
</html>
